.Modal{
    position: absolute;
    z-index: 200;
    top: 25%;
    left: 38%;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #c9d6df;
    border-radius: 4px;
    box-shadow: 2px 2px 6px #00000033;
    transition: all 0.5s;
}