a:link,
a:visited{
    text-decoration: none;
    color: #fafafa;
    display: flex;
    padding: 15px 0px 8px 0px;
    margin: 0 20px;
    font: 400 18px 'Lato', sans-serif;
    letter-spacing: 0.5px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

a:hover,
a:active,
a.active{
    border-bottom: 1px solid #dae1e7;
}