.Button{
    font: 400 16px 'Lato', sans-serif;
    letter-spacing: 0.5px;
    padding: 0 8px;
    color: #52616b;
    cursor: pointer;
}

.Button.Success{
    color: #129658;
}

.Button.Danger{
    color: #d72323;
}

.BtnBold{
    font-weight: bold;
}